<!DOCTYPE html>
<html>
<head>
    {% include '_head.twig' %}
</head>
<body>

{% include '_header.twig' %}

{# main #}
<h1>{{ block('title') }}</h1>

{% block content %}{% endblock %}

{% include '_footer.twig' %}
</body>
</html>