.cookie {
    width: 100%;
    padding: 0.5em;
    background-color: $gray-light; 
    border-top: 1px solid $gray;
    position: fixed;
    bottom: 0;
    z-index: 100;
    
    &__body {
        text-align: center;
        color: $gray-dark;
        font-size: 12px;
        margin: 10px 0;
    }

    &__close {
        margin-top: 10px;
    }
}