<!DOCTYPE html>
<html>
<head>
    {% include 'head.twig' %}
</head>
<body>

{% include 'header.twig' %}

{# main #}
<h1>{{ block('title') }}</h1>

{% block content %}{% endblock %}

{% include 'footer.twig' %}
</body>
</html>